$border-rounding: 10% 10% 0 0;
$card-width: 350px;
$card-height: 200px;
$background: rgba(252, 113, 77, 0.5);
$shadow-contrast: 1px 1px 1px rgba(120, 67, 31), 1px 1px 1px rgba(250, 235, 215);

.card {
  width: $card-width;
  height: $card-height;
  border-radius: $border-rounding;
  position: relative;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
  &__img {
    width: inherit;
    height: inherit;
    border-radius: $border-rounding;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: 60px;
    background-color: $background;
    color: #fff6eb;
    text-shadow: $shadow-contrast;
    position: absolute;
    top: 140px;
    left: 0;
    line-height: 1.5rem;
    letter-spacing: 2px;
  }
}