.feedback>legend {
  text-align: center;
}

.feedback>legend h2 {
  margin-top: 3px;
}

.form-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.form-entity {
  padding: 5px;
}

.form-entity>label {
  display: inline-block;
  width: 130px;
}

.form-entity>input {
  width: 230px;
}

.form-entity>input, .form-entity>textarea {
  outline: none;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid #575757;
  color: rgba(255, 255, 255, 0.9);
  font-family: inherit;
}

#message{
  box-sizing: border-box;
  width: 345px;
  height: 135px;
}
