@use "sass:map";

$loader_theme: (
        "primary": rgba(254, 213, 131, 0.65),
        "contrast": rgba(252, 113, 77, 0.95),
        "color": rgba(120, 67, 31, 0.85),
);

@keyframes flickerlights {
  0% {
    background-color: map.get($loader_theme, "primary");
  }
  50% {
    background-color: map.get($loader_theme, "constrast");
  }
  100% {
    background-color: map.get($loader_theme, "color");
  }
}

.ldr {
  &_item {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 10px;
    background-color: map.get($loader_theme, "primary");
    animation: flickerlights 2.5s infinite;
  }
}
